
.jumbotron{
height:500px;

}

.bg{
	position:absolute;
	height:500px;
	padding:0px;
	overflow:hidden;
	//z-index: -1;
}



h1{
	font-family: 'Source Sans Pro'r;
	font-weight:bolder;
	text-transform:Uppercase;
	color:white;
}

h2{
	font-family: "Arvo";
	font-size: 20px;
	font-weight: bolder;

}


#arguments div{
text-align: center;
padding: 20px 50px 20px 50px;


}

.img-circle{

	width:200px;
	height: 200px;
}

p{
font-family: 'Arvo';
font-weight: lighter;
}

#tagline{
	margin-top:30px;
	font-family: 'Arvo';
	color:white;
	font-weight: lighter;
	
}

#marca{
	position:relative;
	width:250px;

}

