body{
	background:#253237;
	height: 100%;
	background-image: url("http://www.mapadaqui.com/img/fundo.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center top;
background-attachment: fixed;

}

.jumbotron{

	margin: 0px;
	padding:0px;

}

#main-image{

}

.bg{
	position:absolute;
	height:100%;
//	width:100%;
	padding:0px;
	overflow:auto;

}

.fb-like{
margin-top:10%;
margin-left:15px;
}


p a{
	font-family: "Raleway";
	font-weight: normal;
font-size: 14px;
line-height: 1.2em;
	color:white;
	opacity: 0.6;
}

h2{
	font-family: "Raleway";
	font-weight: normal;
font-size: 26px;
line-height: 1.2em;
	color:white;
	opacity: 0.6;
}

h3{
	font-family: "Raleway";
	font-size: 14px;
	font-weight: normal;
	color:white;
		opacity: 0.6;
}

p{
font-family: 'Arvo';
font-weight: lighter;
}

#marca{
	position:relative;
	width:150px;
	padding-top: 15%;

}
#mc_embed_signup{
	margin-top:20%;
	font-family: "Raleway";
	color:white;
}

#mc_embed_signup input[type="text"], 
#mc_embed_signup input[type="email"]{
width:100%;
background:rgba(255,255,255,0.1);
border:1px solid white;
border-radius:4px;
margin:10px 0px 0px 0px;
height:50px;
padding-left:20px;
}

#mc_embed_signup input[type="email"]:focus{
border:2px solid white;
box-shadow: 0 0 0px;
}

#mc-embedded-subscribe{
width:100%;
background:#ED287E;
color:white;
border:0px solid white;
border-radius:4px;
margin:10px 0px 0px 0px;
height:50px;
padding-left:20px;
font-weight: bolder;
text-transform: Uppercase;
}

#voltar {
background:#ED287E;
color:white;
border:0px solid white;
border-radius:4px;
margin:40px 0px 0px 0px;
padding:10px 30px 10px 30px;
font-weight: bolder;
text-transform: Uppercase;
}

#mc-embedded-subscribe:hover{

background:#E32E7D;

}

#contato{
	padding-left:15px;
}

#contato:hover{
	color:#ED287E;
}

#contato:visited{
	color:white;
}

#facebook{
	margin-top:70px;
}



